doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title= metaTitle
    meta(name='description' content=description)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='geo.placename' content='Saint-Médard-en-Forez, Loire, France')
    meta(name='theme-color' content='#ff6f7d')
    link(rel='shortcut icon' href=siteUri + '/assets/medias/images/favicon.ico')
    link(rel='icon' sizes='192x192' href=siteUri + '/assets/medias/images/favicon192.png')
    link(rel='stylesheet' href=siteUri + '/assets/styles/main.css', media='screen')
    if demo
      link(rel='stylesheet' href=siteUri + '/assets/styles/demos.css', media='screen')
