extends patternLayouts

block content
  main(itemprop='mainContentOfPage')
    .section
      .wrap
        h1(itemprop='headline name').emphasized= name
        ul.list-stripe.summary
          li Id: #{id}
          li Given Name: #{givenName}
          li Family Name: #{familyName}
          li Additional Name: #{additionalName}
          li Honorific Prefix: #{honorificPrefix}
          li Honorific Suffix: #{honorificSuffix}
          li Birth Date: #{birthDate}
          li Birth Place Id: #{birthPlaceId}
          li Death Date: #{deathDate}
          li Death Place Id: #{deathPlaceId}
          li Nationality: #{nationality}
          li Place Id: #{placeId}
          li Telephone: #{telephone}
          li Telephone2: #{telephone2}
          li Email: #{email}
          li Fax: #{fax}
          //-li Url: #{url}
          li Occupation: #{occupation}
          li Bias: #{bias}
          li Hobby: #{hobby}
          li Organization Id: #{organizationId}
          li Awward: #{awward}
          li Medias Id: #{mediasId}
          li Signature: #{signature}
        p= description
